/* Umumiy body uslubi */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

/* Header */
header {
  text-align: center;
  padding: 20px;
  background-color: #005f73;
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  font-size: 24px;
}

/* Chatbox uslubi */
#chatbox {
  flex-grow: 1;
  width: 100%;
  max-width: 800px;
  height: calc(100vh - 180px);
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow-y: auto;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto 10px;
}

/* User input va send tugmasi */
#userInput {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s;
}

#userInput:focus,
#userInput:hover {
  border-color: #005f73;
  outline: none;
}

#sendButton {
  width: 20%;
  padding: 10px;
  background-color: #005f73;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  transition: background-color 0.3s;
}

#sendButton:hover {
  background-color: #064a58;
}

#input-container {
  display: flex;
  gap: 10px;
  padding: 10px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* Loading animatsiyasi */
#loading {
  display: none;
  font-size: 16px;
  color: #aaa;
  text-align: center;
  margin-top: 10px;
}

/* Foydalanuvchi va bot xabarlari */
.user-message {
  text-align: right;
  background-color: #2f96ab;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 70%;
  margin-left: auto;
}

.bot-message {
  text-align: left;
  background-color: #064a58;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 70%;
  margin-right: auto;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  #chatbox {
    height: calc(100vh - 200px);
    max-width: 100%;
  }

  #input-container {
    flex-direction: column;
    gap: 5px;
  }

  #sendButton, 
  #userInput {
    width: 100%;
  }
}
