body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f9f9f9, #ffffff); /* Sofroq oq fon */
    color: #333;
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

header {
    text-align: center;
    padding: 2em;
    background-color: #005f73; /* Ko'k-yashil */
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #0a9396; /* Ochroq ko'k-yashil */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #94d2bd; /* Engilroq och yashil */
}

#social-links {
    text-align: center;
    padding: 4em;
    color: #005f73;
}

#social-links ul {
    list-style-type: none;
    padding: 0;
}

#social-links li {
    display: inline-block;
    margin: 0 15px;
    padding: 15px;
    border: 2px solid #005f73;
    border-radius: 10px;
    background-color: #ee9b00; /* Iliq sariq */
    transition: transform 0.3s, background-color 0.3s;
}

#social-links li:hover {
    background-color: #ca6702; /* To'qroq iliq sariq */
    color: #fff;
    transform: scale(1.05);
}

#social-links a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #005f73;
    color: #fff;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    bottom: 0;
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* To'liq kenglik */
    max-width: 600px; /* Maksimal kenglik */
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover, .close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.welcome-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px 0;
}

.icons {
    margin-top: 20px;
}

.icons i {
    font-size: 2em;
    margin: 0 10px;
    color: #005f73;
}

.fade-out {
    animation: fadeOut 1s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@media (max-width: 768px) {
    #social-links ul {
        padding: 0;
    }
    
    #social-links li {
        display: block;
        margin: 10px 0;
    }
}
